body{
    margin: auto;
    text-align: center;
    background-color: burlywood;
}

#rocketDiv{
    width: 75%;
    margin: auto;
    height: 750px;
}

#rocket{
    position: relative;
    top: 600px;
    margin: auto;
    height:100px;
    width:50px;
}

#resetLink{
    color:darkred;
    font-weight:bold;
}

footer{
    background-color:chocolate;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:1.5rem;
}